/* 导航栏动画 */
#navbar {
    transition: all 0.6s;
    /* font-size: 1rem; */
}

.navbar .nav-item .nav-link {
    display: block;
    color: var(--navbar-text-color);
    transition: color 0.6s, background-color 0.6s;
}

.navbar .nav-item .nav-link i {
    /* font-size: 1rem; */
}