/* 导航栏动画 */
#navbar {
    transition: all 0.6s;
}

.nav-item {
    /* margin-left: 5px; */
    /* margin-right: 5px; */
}

.nav-item::after {
    display: block;
    content: "";
    border-bottom: 2px solid #ec5864;
    width: 0;
    transition: width 0.6s ease-in-out;
}

.nav-item:hover::after {
    width: 100%;
}